@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Lexend+Deca&family=Pixelify+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Lexend+Deca&family=Pixelify+Sans&family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  transition: background-color 0.3s ease; 
}


html {
  scroll-behavior: smooth;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.conteudo-do-meio{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-image: url(../public/images/bg-curve-desktop.svg);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  z-index: 1000000;
  position: fixed;
  position: relative;
}

.darkModeblack{
  background-color: black;
}

.conheca a {
  color: hsl(170, 45%, 43%);
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  position: relative;
  text-decoration: none;
}

.conheca a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 150px;
  height: 1px;
  background-color:hsl(170, 45%, 43%); ;
}

.informacoes{
  background-color: white;
}

.li {
  list-style: none;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  display: inline-block;
  margin-right: 30px;
  color: hsl(243, 87%, 12%);
  cursor: pointer;
  position: relative; 
}

.li:focus {
  outline: none; 
}

.li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease; 
}

.li:focus::after {
  width: 100%; 
  animation: borderAnimation 1s infinite alternate; 
}

@keyframes borderAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.header-conteudo-principal {
  background-image: url('../public/images/bg-curve-desktop.svg');
  background-size: cover;
  position: relative;
  width: 100%;
}

.header-conteudo-principal header,
.header-conteudo-principal .imagem {
  position: relative;
  z-index: 1;
}

.pessoas, .pessoas-olhando {
  width: 400px;
}


.dark-mode-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.dark-mode-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


h1 {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: hsl(243, 87%, 12%);
}

p {
  color: hsl(243, 87%, 12%);
  padding: 3px;
  font-size: 14px;
}

.textoExplicativo{
  color: hsl(243, 87%, 12%);
  padding: 3px;
  font-size: 12px;
}

.pessoas-segurando-cartaz{
  width: 400px;
  display: block;
}

aside{
  display: flex;
  flex-direction: column;
}

h2{
  font-size: 30px;
}

input {
  border: none;
  padding: 5px;
  width: 50%;
}

input[type="text"]:focus {
  border-color: blue;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.inputVermelho {
  border: 2px solid red;
}


.textoBlack {
  color: red;
}

.inputverde {
  border: 2px solid hsl(224, 93%, 58%);
}


#botaoVerificar {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: hsl(224, 93%, 58%);
  width: 40%;
  cursor: pointer;
}

.botoes {
  margin-top: 8px;
}

.logo {
  width: 70px;
  margin-right: 100px;
}
@media(max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: auto;
    margin-right: auto;

  }

  .conteudo-do-meio {
    display: flex;
    flex-direction: column;
  }

  .br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  main {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .br {
    display: none;
  }
}